* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Porsche Logo';
    src: url('./fonts/911porschav3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Porsche Next';
    src: url('./fonts/PorscheNext-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    font-size: 10px;
    font-family: 'Porsche Next', sans-serif;
}

.cabecalho {
    background: #eff0f1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 10vh;
    padding: 10px 40px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.cabecalho a{
    font-family: 'Porsche Logo', sans-serif;
    text-decoration: none;
    color: #000;
    font-size: 2.5vw;
}

.conteudo {
    display: flex;   
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-width: 2000px;
    margin: 130px 10px;
    gap: 40px;
}

.descricao-visao-celular {
    display: none;
}

.secao-carro {
    height: 510px;
    width: 50%;
}

.imagem-carro {
    height: 100%;
    max-height: 35vw;
    width: 100%;
    box-shadow: 0 0 3.6rem 0 rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;
}

.imagem-carro img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.24s;
}

.imagem-carro img:hover{
    transform: scale(1.1);
    transition: all 0.24s;
}

.definicoes-carro {
    width: 40%;
}

.descricao-visao-web {
    display: block;
}

.titulo {
    color: #CC0033;
}

.subtitulo {
    color: #313629;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.descricao {
    color: #383C3E;
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 4.4rem;
}

.cores {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
}

.cores h3 {
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
}

.paleta-de-cores {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.paleta-de-cores li {
    list-style: none;
    overflow-y: hidden;
    padding: 1vh;
}

.paleta-de-cores li span {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: 0 0 1.1rem 0 rgba(0, 0, 0, 0.6);
    transition: transform 0.24s;
}

.paleta-de-cores li span:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.paleta-de-cores li:nth-child(1) span {
    background: #EFE;
}

.paleta-de-cores li:nth-child(2) span {
    background: #000;
}

.paleta-de-cores li:nth-child(3) span {
    background: #C03;
}

.paleta-de-cores li:nth-child(4) span {
    background: #FC0;
}

.rodas {
    display: flex;
    flex-direction: column;
}

.rodas h3 {
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
}

.colecao-de-rodas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.colecao-de-rodas li {
    align-items: center;
    max-width: 9.5rem;
    list-style: none;
    margin-right: 1vw;
}

.colecao-de-rodas li span {
    background-image: url('./assets/rodas.jpeg');
    padding-top: 100%;
    width: 96px;
    height: 55px;
    display: block;
    transition: transform 0.3s;
    border-radius: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-left: 1vw;
    object-fit: cover;
}

.colecao-de-rodas li span:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.colecao-de-rodas li:nth-child(1) span {
    background-position: 0px 75%;
}

.colecao-de-rodas li:nth-child(2) span {
    background-position: 0px 87.5%;
}

.colecao-de-rodas li:nth-child(3) span {
    background-position: 0px 0%;
}

.colecao-de-rodas li:nth-child(4) span {
    background-position: 0px 50%;
}

.fale-conoso {
    position: fixed;
    bottom: 4.8rem;
    right: 3.2rem;
    overflow: hidden;
    padding: 1vh;
}

.fale-conoso img {
    width: 6.4rem;
    height: 6.4rem;
    transition: all 0.24s ease-in-out;
}

.fale-conoso img:hover {
    transform: scale(1.1);
}

.selecionado {
    transform: scale(1.15);
}
